{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur notre site{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-5">Bienvenue</h1>
        <hr>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate quos veritatis dignissimos aliquid. Nobis voluptate sit alias placeat temporibus rerum porro voluptates animi, exercitationem, error omnis sunt ea dolor quod doloremque ex dolores ipsa sequi iusto harum! Sint voluptatem, repellendus nulla dolor ea iusto nemo nam quia perspiciatis optio ullam sit debitis reprehenderit doloremque. Doloribus enim sunt possimus maiores similique quod veniam asperiores aut quisquam, deleniti ratione consectetur in ducimus facilis, voluptas cupiditate sint ipsam nobis. Ut molestias voluptatibus impedit blanditiis asperiores cupiditate dolore quasi aut doloremque nobis, eligendi suscipit vero quos! Quos autem quo eligendi voluptatem odit laborum totam possimus sunt delectus id vel numquam repudiandae, non impedit saepe provident quibusdam officiis laboriosam commodi quam consequuntur officia pariatur ratione? Asperiores, voluptatibus sapiente. Doloribus voluptate dolores laboriosam officia, rem hic, commodi sit architecto nemo dolorem ipsam, exercitationem voluptates voluptas quis explicabo eum tempore aliquam culpa magni. Suscipit hic debitis odio?
        </p>
       
    </div>
{% endblock %}
